@tailwind base;
@tailwind components;
@tailwind utilities;

.signal-wrapper:not(:hover) .tooltip,
.signal-wrapper:not(:hover) .tooltip-triangle {
	visibility: hidden;
	opacity: 0;
}

.signal-wrapper:hover {
	background-color: rgba(74, 222, 128, 0.8);
}
