@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons,
.material-icons-outlined {
	user-select: none;
}

button:focus {
	outline: 2px solid red;
	outline-offset: -2px;
}

button:focus:not(:focus-visible) {
	outline: none;
}
