@tailwind base;
@tailwind components;
@tailwind utilities;

.signal-wrapper:not(:hover) .tooltip,
.signal-wrapper:not(:hover) .tooltip-triangle {
	visibility: hidden;
	opacity: 0;
}

.material-icons,
.material-icons-outlined {
	user-select: none;
}
